
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

/* Header */
.main-header {
    background-color: #333;
    padding: 10px;
}

.menu-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block; /* Make the button block-level */
}

.nav-menu {
    display: none;  /* Menu is hidden by default */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 0;
}

.nav-menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.nav-menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Home Section */
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

#img-home {
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    filter: grayscale(50%) opacity(60%);
}

#follow {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#follow img {
    border-radius: 50%;
    transition: transform 0.3s;
}

#follow img:hover {
    transform: scale(1.1);
}

/* Text Home */
.text-home {
    padding: 20px;
    max-width: 600px;
}

.text-home h1 {
    font-size: 2rem;
    margin: 10px 0;
}

.text-home h5 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

/* Profile Section */
#profile {
    background-color: rgb(48, 48, 48);
    padding: 50px 20px;
    margin-top: 100px;
}

#profile h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    color: white;
    margin-top: 50px;
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    #img-home {
        width: 80%;
    }

    nav a {
        padding: 5px;
        margin: 0 5px;
    }
}
